.filteredForm{

display: flex;
width: 100%;
margin: 1rem;
}

.filteredItem{

 flex: 50%;
 height: 40px;
}


.searchItem{
flex: 10%;
height: 40px;
justify-content: flex-end;


}


.selectionFilter{
    height: 30px;



}

.searchForm{
    height: 25px;



}

.searchButton{
    height: 25px;
    border-radius: 10px;
    margin: 0.5rem

}

.searchOption{
    font-weight: 800;
}