#create-container {
	width: 100%;
	max-width: 50rem;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 0.2rem;
	padding: 1rem;
}

#create-intro {
	font-size: large;
	margin-top: 0;
}

#item-create {
	display: flex;
	flex-direction: column;
}

.create-select {
	display: flex;
	flex-direction: column;
}

.create-headline {
	font-size: medium;
	font-weight: bold;
	padding-bottom: 0.3rem;
}

.create-input {
	padding: 0.4rem;
	margin-bottom: 1rem;
	border: 1px solid lightgrey;
	border-radius: 0.2rem;
}

.create-input-select {
	width: 10rem;
	padding: 0.2rem;
	margin-bottom: 1rem;
}

#create-save-box {
	display: flex;
	justify-content: end;
}

#create-save {
	width: 6rem;
	height: 2rem;
	border-radius: 1rem;
	border: 2px solid orangered;
	color: orangered;
	background-color: transparent;
	cursor: pointer;
	transition: 0.2s;
}

#create-save:hover {
	background-color: orangered;
	color: white;
}

#checkbox-container div {
	display: inline-block !important;
}

#checkbox-container div input {
	padding: 5px 0px 5px 5px;
	width: 10px !important;
	display: inline-block !important;
}

#checkbox-container div label {
	padding: 5px 5px 5px 0px;
	width: auto !important;
	display: inline-block !important;
}
