.search-container {
	width: 100%;
	max-width: 30rem;
	display: flex;
}

.searchForm {
	height: 30px;
	width: 100%;
	border-radius: 2rem;
	border: 2px solid gray;
	padding-left: 1rem;
	margin-right: -5rem;
}

.search-button {
	width: 5rem;
	position: relative;
	padding: 0.4rem;
	border-radius: 2rem;
	border: 0px solid gray;
	color: orangered;
	font-weight: 600;
	background-color: transparent;
	cursor: pointer;
}

.searchOption {
	font-weight: 800;
}
