.search-container {
	width: 100%;
	max-width: 25rem;
	min-width: 12.4rem;
	display: flex;
	align-items: center;
}

.searchForm {
	height: 30px;
	width: 100%;
	border-radius: 0.2rem;
	border: 1px solid lightgray;
	background-color: rgb(240, 240, 240);
	margin-right: -5.1rem;
}

.search-button {
	width: 5rem;
	height: 1.8rem;
	position: relative;
	padding: 0.4rem;
	border-radius: 0.2rem;
	border: 0px solid lightgray;
	color: orangered;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s;
}

.search-button:hover {
	background-color: lightgrey;
}

.searchOption {
	font-weight: 800;
}
