#avatar {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	border: solid 3px rgba(255, 255, 255, 0.1);
}

#profile-container {
	box-sizing: border-box;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	margin-bottom: 20px;
}

#profile-container h1 {
	display: inline;
	height: 80px;
	line-height: 80px;
}

#profile-settings-button {
	float: right;
}

#profile-container p {
	width: 75ch;
}
